
.main>.profile {
	display: block;
}

.main>.profile>.profile_inner {
    transform: translate(0, -10%);
    text-align: center;
}

.profile_inner h1 {
    padding: 12px 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.288);
}

.profile_inner span {
	padding: 10px 0;
	font-size: 18px;
}

img {
	display: inline-table;
	width: 180px;
	border-radius: 50%;
	pointer-events: none;
}

@media screen and (max-width: 600px) {
	img {
		width: 150px;
	}
	.main>.profile>.profile_inner {
		transform: translate(0, 0);
	}
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 400px;
	margin: 0 auto;
}

.button {
	background: var(--tertiary);
	border-radius: var(--radius);
	margin: 8px;
	padding: 6px;
	transition: transform 0.1s;
}

.button-inner {
	padding: 0 8px;
}

.button:active {
	transform: scale(0.96);
}


/* Custom css starts */


.card>h2 {
	text-align: center;
}

.link {
	color: var(--primary);
	font-size: 18px;
}

.link:visited {
	color: var(--primary);
}

.link:hover {
	text-decoration: underline;
}

ul {
	padding-left: 20px;
}

ul>li {
	color: var(--primary);
}

.btn {
	padding: 0.5em;
	color: #5D6063;
	margin: 5px 0;
	background: #fff;
	border: #B2D6FF 1px solid;
	border-radius: 5px;
}

.card>p {
	font-size: 19px;
	text-align: left;
}


/* vishal container */

.main {
	max-width: calc(var(--nav-width) + var(--gap) * 2);
	width: 90%;
	margin: 0 auto;
}

#card-hr {
	border: 0;
	clear: both;
	display: block;
	width: 96%;
	background-color: #000;
	height: 1px;
}

.card {
    background: var(--card);
    padding: 1em;
	border-radius: 8px;
	width: 100%;
    text-align: left;
}

.container {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 20px;
}

.container:last-child {
	grid-column: 2;
}

.social-icons > a {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.288);
}

@media screen and (max-width: 1080px) {
	.container {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-gap: 20px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-gap: 20px;
	}
}